.acfgfs-font-family {
    float:left;
    width:48%;
}

.acfgfs-font-variants, .acfgfs-font-subsets {
    float:left;
    width:20%;
    margin-left:6%;
}

.acfgfs-font-selector {
    overflow:hidden;
}

.acfgfs-form-control-title {
    font-size:11px;
    text-transform: uppercase;
    display:block;
    margin: 0 0 5px 0
}

.acfgfs-font-selector .acfgfs-list input[type="checkbox"] {
    position: relative;
    top:2px;
}

.acfgfs-font-selector {
    position: relative;
}

.acfgfs-font-data {
    display:none;
}

.acfgfs-loader {
    height:100%;
    width:100%;
    position: absolute;
    background:rgba(255,255,255,0.9) url('../images/loader.gif') no-repeat 50% 50%;
    z-index:5000;
    display:none;
}

.acfgfs-preview {
    font-size:16px;
    margin-top:11px;
    background: #fafafa;
    padding:11px;
}
