@media screen and (min-width: 961px) {

	.site {
		max-width: 1440px;
		margin: 0 auto;
		display: block;
		position: relative;
		background: white;
	}
	.site-header-main {
		position: fixed;
		z-index: 1000;
		width: 100%;
		max-width: 1440px;
		background: white;
		height: 100px;
		top: 0;
	}
	
	/* HEADER ******/
	
	.site-branding {
		width: 240px;
		display: inline-block;
		padding: 25px 0;
	}

	.site-header-menu {
		width: calc( 100% - 245px);
		display: inline-block;
		vertical-align: top;
		position: relative;
		top: 45px;
	}
	
	/* NAVIGATION ***/
	
	.primary-menu {
		position: absolute;
		right: 0;
	}
	
	.site-header-main .menu-toggle {
		display: none;
	}
	.main-navigation {
		width: 100%;
	}
	.main-navigation li {
		display: inline-block;
		margin-right: 24px;
		font-size: 20px;
		font-family: 'Julius Sans One', sans-serif;
		letter-spacing: 2px;
		/* width: 15.6%; */
		vertical-align: top;
		text-align: center;
	}
	.main-navigation li:nth-child(6),
	.main-navigation li:nth-child(7) {
/* 		width: 20px;
		margin-left: 20px;
		margin-right: calc(2% - 10px); */
	}

	.main-navigation li:last-child {
		margin-right: 0;
	}
	.main-navigation li ul {
		display: none;
		position: relative;
		width: 100%;
		padding: 0;
	}
	.main-navigation li li, .main-navigation li li:last-child {
		width: 100%;
		font-size: 14px;
		line-height: 24px;
		position: relative;
		letter-spacing: 0px;
		padding: 14px 0 0;
		text-align: center;
		background: white;
	}
	.main-navigation li li:last-child {
		padding-bottom: 14px;
		border-bottom: 2px solid grey;
	}
	.current-menu-item {
		font-weight: bold;
	}
	
	/* CONTENT ***/
	.site-content, article {
		position: initial;
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.entry-content .Bloc-580 {
		min-height: 580px;
		width: 100%;
		margin-top: 5px;
	}
	.entry-content .Bloc-580 h3 {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 34px;
		font-weight: 200;
		position: relative;
		top: 14px;
		left: 14px;
	}
	.entry-content .Bloc-580-2 {
		min-height: 580px;
		width: calc(50% - 13px);
		margin: 0 0 5px 0;
		display: inline-block;
	}
	.entry-content .Bloc-580-2 h3 {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 24px;
		font-weight: 200;
		position: relative;
		top: 8px;
		left: 16px;
	}
	.Bande {
		background: transparent;
		padding: 10px 0;
		text-align: center;
		width: 75%;
		color: black;
		font-size: 38px;
		font-weight: 100;
		margin: 48px auto;
		border: 3px double black;
	}
	
	/* HOME */
	
	.Current_Home {
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	.Bloc {
		width: 100%;
		height: auto;
	}
	.Bloc img {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
	.tiers, .Deco1 img {
		display: inline-block;
		width: 33.333333333%;
		vertical-align: middle;
	}
	.Deco1 img:first-child {
		position: relative;
		top: 50px;
	}
	.Deco1 img:last-child {
		position: relative;
		top: 250px;
		z-index: 50;
	}
	.half {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		margin-top: 180px;
	}
	.tiers {
		vertical-align: bottom;
		padding-bottom: 50px;
	}
	.half h1, .tiers h1 {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		font-weight: 200;
		font-size: 38px;
		z-index: 18;
		position: relative
	}
	.half a, .tiers a {
		width: 100%;
		text-align: center;
		display: block;
		margin-top: 10px;
		text-decoration: underline;
		font-size: 16px;
		z-index: 18;
		position: relative;
	}
	main .Current_Home .Deco1::before {

		position: absolute;
		top: 800px;
		left:0;
		z-index: -1;
	}
	main .Current_Home .Deco2::after {

		position: absolute;
		top: 1200px;
		right: 0;
		z-index: -1;
	}
	video {
		display: block;
		margin: 0 auto;
	}
	.post-47 .entry-content {
		margin-top: 32px;
	}
	.Deco2 {
		width: 70%;
		margin: 450px 15% 0 15%;
	}
	
	.Bloc-580 {
		min-height: 700px !important;
		overflow: hidden;
	}
	/*optionally revert to content: url('../images/forme1.png');*/
	.Bloc-580::after {
		
		position: absolute;
		top: 600px;
		right: 0;
		z-index: 12;
		opacity: 0.4;
	}
	/*optionally revert to content: url('../images/aquarelle2.png');*/
	.Bloc-580::before {
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 12;
		opacity: 0.5;
	}
	
	.n2-ss-align {
		margin-bottom: 25px;
	}
	
	/* ABOUT */
	

	
	.Bloc-580 p {
		width: 70%;
		margin: 24px auto;
		display: block;
		text-align: justify;
	}
	.Bloc-580 .alignleft {
		float: left;
	}
	.Bloc-580 .alignright {
		float: right;
	}
	.Bloc-580 h3 {
		text-align: center;
	}
	.Bloc-580 img {
		margin: 24px 48px 72px;
		position: relative;
		z-index: 150;
	}
	.Bloc-580 ul {
		padding: 0;
	}
	.Bloc-580 li {
		display: inline-block;
		width: 33.333333%;
		height: auto;
	}
	.Bloc-580 li img {
		width: 100%;
		height: auto;
	}
	.Bloc-580 iframe {
		position: relative;
		z-index: 20;
	}
	
	.post-20 .post-thumbnail {
		display: inline-block;
		width: 50%;
	}
	.post-20 .marge {
		display: inline-block;
		width: 48%;
		vertical-align: top;
		margin-top: 24px;
	}
	.post-20 .marge p {
		width: 100%;
	}
	
	.Policies h1 {
		text-align: center;
		padding: 24px 0;
		text-transform: uppercase;
	}
	.Policies .entry-content {
		width: 75%;
		margin: 0 auto;
		display: block;
		text-align: justify;
	}
	
	/* COLLECTIONS */
	
	.top-collections {
		text-align: center;
		margin: 24px 0;
		padding: 0 10%;
	}
	
	.category-collections .entry-header {
		width: 100%;
		padding: 24px 0;
		background: grey;
		margin-bottom: 40px;
	}
	.category-collections .entry-header h1 {
		text-transform: uppercase;
		text-align: center;
		font-size: 42px;
		font-weight: 200;
		color: white;
	}
	
	.category-collections .image-gallery {
		width: 70%;
		margin: 0 15%;
		display: block;
	}
	.image-gallery li {
		display: inline-block;
		width: 27.3333333%;
		padding: 2%;
	}
	.image-gallery li img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.wp-playlist {
		position: relative;
		z-index: 500;
	}
	
	/* PRESS */
	.Bloc-Press {
		width: 100%;
		display: block;
		margin: 0;
		padding: 0;
	}
	.pagepress {
		width: calc(33.33333% - 18px);
		display: inline-block;
		border: 1px solid black;
		margin: 4px;
		padding: 0;
		float: left;
	}
	.pagepress img {
		width: 100%;
		height: auto;
	}
	.pagepress .infos {
		background: rgba(0,0,0,0.75);
		margin-top: -85px;
		height: 80px;
		position: relative;
		z-index: 15;
		width: 100%;
		color: white;
	}
	.infos h2 {
		margin: 0;
		padding-left: 20px;
	}
	.infos p {
		margin: 0;
		padding-left: 20px;
		line-height: 18px;
	}
	.infos a {
		color: white;
	}
	
	/* E-SHOP */
	
	.Bloc-Tiers {
		width: 33.33333%;
		margin: 0 auto;
		display: inline-block;
	}
	.woocommerce ul.products li.product {
		/* width: 22.45%; */
	}
	
	.post-type-archive ul.products {
		position: relative;
		width: 100%;
		height: 960px;
	}
	
	.post-type-archive ul.products li.product {
		width: 33.3333%;
		height: 50%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.post-type-archive ul.products li:first-child {
		width: 33.33333%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.post-type-archive ul.products li:last-child {
		width: 33.33333%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 66.6666666%;
	}
	.post-type-archive ul.products li.product .woocommerce-loop-category__title {
		z-index: 152;
		top: 40%;
		text-align: center;
		font-size: 32px;
		position: relative;
		padding: 0;
	}
	.woocommerce-loop-category__title .count {
		display: none;
	}
	.woocommerce-loop-category__title {
		text-transform: uppercase;
	}
	.post-type-archive ul.products li a {
		color: white;
	}
	.post-type-archive ul.products li:nth-child(2) {
		position: absolute;
		left: 33.333333%;
		top: 0;
		height: 50%;
	}
	.post-type-archive ul.products li:nth-child(3) {
		position: absolute;
		left: 33.333333%;
		top: 50%;
		height: 50%;
	}
	.post-type-archive ul.products li.product a img {
		width: auto;
		min-height: 100%;
	}
	
	.post-type-archive ul.products li.product:nth-child(1) a img {
		position: absolute;
		left: 0;
		top: 8%;
		z-index: 12;
	}
	.post-type-archive ul.products li.product:nth-child(2) a img {
		position: absolute;
		left: 0;
		z-index: 12;
		top: -10%;
	}
	.post-type-archive ul.products li.product:nth-child(3) a img {
		position: absolute;
		/* right: -5%; */
		z-index: 12;
		top: -15%;
	}
	.post-type-archive ul.products li.product:nth-child(4) a img {
		position: absolute;
		left: 0;
		z-index: 12;
		top: 8%;
	}
	.post-type-archive img, .post-type-archive-page img {
		max-width: none;
	}
	.post-type-archive ul.products li:first-child img {
		position: relative;
		right: 100%;
	}
	.post-type-archive ul.products li:last-child img {
		position: relative;
		right: 0;
	}
	.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
		text-align: center;
	}
	.woocommerce ul.products li.product .price {
		text-align: center;
	}
	
	/* PRODUCT PAGE **/
	.product-template-default {
	
	}
	.related {
		clear: both;
	}
	.related ul.products li.product {
		margin: 0 2.55% 2.992em 0;
	}
	.related h2 {
		text-align: center;
		font-size: 38px;
		font-weight: 200;
	}
	
	.woocommerce-breadcrumb {
		text-transform: lowercase;
	}
	
	.single-product .woocommerce-product-gallery {
		height: 680px;
		overflow: hidden;
		width: 68%;
	}
	.woocommerce div.product {
		/* width: 75%; */
		margin: 0 auto;
	}
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
		width: 50%;
	}
	.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
		width: 42%;
	}
	.woocommerce-product-gallery__image {
/* 		display: inline-block;
		width: 60%; */
	}
	.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
/* 		display: inline-block;
		width: 38%;
		vertical-align: top; */
	}
	.woocommerce-product-details__short-description {
		text-align: justify;
	}
	
	.woocommerce-variation-add-to-cart {
		margin-top: 24px;
	}
	
	.single-product .entry-summary {
		float: right;
		width: 28%;
	}
	.single-product .entry-summary .quantity {
		display: none;
		height: 0;
		width: 0;
		opacity: 0;
		pointer-events: none;
	}
	.single-product .entry-summary .single_add_to_cart_button {
		width: 100%;
		border-radius: 0;
		font-weight: 200;
		text-transform: uppercase;
	}
	.woocommerce button.button.alt {
		background-color: black;
	}
	.ivpa-register {
/* 		width: 80%;
		display: inline-block; */
	}
	.ivpa-register::after {
		content: "SIZE GUIDE";
		float: right;
		margin-top: -36px;
	}
	
	/* TABS */
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding: 0;
		margin: 0;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
		 width : 100%;
		font-weight: 200;
		background-color: transparent;
		display: none;
	}
	.woocommerce #content div.product .woocommerce-tabs ul.tabs .html5_video_tab {
		display: block;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
		display: none;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
		display: none;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
		display: none;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs::before {
		border: none;
	}
	.woocommerce-Tabs-panel--html5_video {
		display: block;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
		content: "+";
		float: right;
		display: block;
		right: 40px;
		position: relative;
		font-size: 24px;
		border: none;
		border-bottom-left-radius: none;
		box-shadow: none;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		border: none;
		border-radius: none;
		padding: 0;
		margin: 0;
		/* pointer-events: none; */
		cursor: pointer;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-weight: 200;
		color: black;
	}
	
	/* FOOTER ****/
	.site-footer {
		position: absolute;
		bottom: -150px;
		background: black;
		padding: 10px 0;
		width: 100%;
		font-size: 16px;
	}
	.site-footer .site-info {
		width: 100%;
	}
	.site-footer .menu {
		display: block;
		width: 100%;
	}
	.site-footer .menu ul {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.site-footer .menu li {
		display: inline-block;
		color: white;
		width: 20%;
		padding: 12px 0;
		text-align: center;
	}
	.site-footer .menu li:first-child {
		width: 40%;
	}
	.site-footer .menu li a {
		display: inline-block;
		color: white;
		text-decoration: none;
	}
	footer a {
		text-align: center;
		text-decoration: underline;
	}
}
