@media screen and (max-width: 960px) {

	.menu-toggle {
		display: none;
	}
	.primary-menu {
		margin: 0;
		padding: 0;
	}
	.primary-menu li {
		width: calc(33.33333% - 6px);
		display: inline-block;
		text-align: center;
		padding: 16px 0;
		/* border: 1px grey solid; */
		background: whitesmoke;
		margin: 2px 0;
	}
	.primary-menu li:nth-child(6),
	.primary-menu li:nth-child(7) {
		width: calc(16.66666% - 6px);
	}
}
