.acf-fields > .acf-field.acf-field-message {
	background: #f9f9f9;
}
#icon-id-wrapper, #box-image-wrapper {float: left; }
#icon-id-wrapper img , #box-image-wrapper img{ width: 80px; height: 80px;}
.clear {clear: both;}