/* WooCommerce */
@font-face {
	font-family: 'star';
	src: url('../assets/wc-star-font/star.eot');
	src: url('../assets/wc-star-font/star.eot?#iefix') format('embedded-opentype'),
		url('../assets/wc-star-font/star.woff') format('woff'),
		url('../assets/wc-star-font/star.ttf') format('truetype'),
		url('../assets/wc-star-font/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}


/**
 * Global styles
 */

@keyframes spin {
    100% {
        transform: rotate( 360deg );
    }
}

.woocommerce .blockUI.blockOverlay {
    position: relative;
}

.woocommerce .loader:before,
.woocommerce .blockUI.blockOverlay:before {
	height: 1em;
	width: 1em;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -.5em;
	margin-top: -.5em;
	display: block;
	-webkit-animation: spin 1s ease-in-out infinite;
    -moz-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    content: "";
    background: url(../images/loader.svg) center center;
    background-size: cover;
	line-height: 1;
	text-align: center;
	font-size: 2em;
	color: rgba(#000,0.75);
}

.woocommerce .wishlist_table .blockUI {
	background: #fff !important;
}

p.demo_store {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: #000;
	color: #fff;
	z-index: 99998;
}

.out-of-stock {
	color: #e71111;
}

/**
 * Star ratings
 */
.star-rating {
	float: right;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 1em;
	width: 5.4em;
	font-family: 'star';
}

.star-rating:before {
	content: "\73\73\73\73\73";
	color: #ccc;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.star-rating span:before {
	content: "\53\53\53\53\53";
	top: 0;
	position: absolute;
	left: 0;
}

.woocommerce-product-rating {
	line-height: 2;
	display: block;
}

.woocommerce-product-rating .star-rating {
	margin: .5em 4px 0 0;
	float: left;
}

.products .star-rating {
	display: block;
	margin: 0 0 .5em;
	float: none;
}

.hreview-aggregate .star-rating {
	margin: 10px 0 0 0;
}

#reviews #comments {
  margin: 0;
}

#reviews #comments ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#reviews #comments .comment {
	border-top: none;
    margin-top: 0;
    padding-top: 0;

	border-bottom: 1px solid #d4d9de;
    margin-bottom: 25px;
    padding-bottom: 25px;	
}

#reviews #comments h2 {
	font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0 30px 0;
    line-height: normal;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

#reviews #respond h3#reply-title {
	position: relative; 
	margin: 25px 0 30px 0;
	text-align: left;
	font-size: 18px;
	padding-right: 120px;
}
#reviews #respond h3#reply-title .comment-form-rating {
	position: absolute;
	right: 15px; 
	margin: 0;
	top: 0;
	font-size: 16px;
}

#reviews #comments .comment img.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	float: left;
	margin-right: 20px;
}

#reviews #comments .comment .description {
	margin-bottom: 0;
}

#reviews #comments .comment .description p {
	font-size: 13px;
	font-family: "Open Sans"; 
	color: #9c9c9c;
	line-height: 25px;
}
#reviews #comments .comment p:last-child {
	margin-bottom: 0;
}

#reviews #comments .comment p.meta{
	line-height: 1em;
}
#reviews #comments .comment p.meta strong {
    font-style: normal;
    font-family: Montserrat;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
#reviews #comments .comment p.meta time {
	font-size: 13px;
	margin-top: 0;
	color: #9c9c9c; 
}

#reviews #comments .comment .star-rating {
	color: #000;
}

#review_form #respond {
	position: static;
	margin: 0;
	width: auto;
	padding: 0 0 0;
	background: transparent none;
	border: 0;
}

#review_form #respond p {
	margin: 0 0 10px;
}
#review_form #respond p.comment-notes {
	padding: 30px 0;
	text-align: left;
}
#review_form #respond .form-submit input {
	left: auto;
}

#review_form #respond .form-submit textarea {
	width: 100%;
}
#review_form #respond p.comment-form-author,
#review_form #respond p.comment-form-email,
#review_form #respond p.comment-form-www {
	width: 241px;
	display: inline-block;
	margin-right: 20px;
}

#review_form #respond p.form-submit{
	margin-top: 30px;
}
#review_form #respond p.comment-form-www {
	margin-right: 0;
}

/* Star ratings */

p.stars {
	position: relative;
	font-size: 1em;
}
.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none
}

.woocommerce p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    content: '\e021';
    text-indent: 0
}

.woocommerce p.stars a:hover~a::before {
    content: '\e021'
}

.woocommerce p.stars:hover a::before {
    content: '\e020'
}

.woocommerce p.stars.selected a.active::before {
    content: '\e020'
}

.woocommerce p.stars.selected a.active~a::before {
    content: '\e021'
}

.woocommerce p.stars.selected a:not(.active)::before {
    content: '\e020'
}

/* End star ratings */

.woocommerce input::-webkit-outer-spin-button,
.woocommerce input::-webkit-inner-spin-button {
	display: none;
}

/* Sale badge */
span.onsale,
span.soldout {
	background: #000;
    color: #fff;
    position: absolute;
    top: 45px;
    left: 15px;
    padding: 6px 7px;
    z-index: 1;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}

/* Sold out badge */
span.soldout {
    background: #000;
    color: #fff;
}

span.soldout + .product-body > .price {
    display: none;
}
span.soldout + .product-body > .price + a > h2 {
    padding-left: 0;
}

.woocommerce.single-product .product .col-md-6 span.onsale,
.woocommerce.single-product .product .col-md-6 span.soldout {
	left: 51px;
    top: 15px;
    padding: 9px 12px;
}
.woocommerce.single-product .product .col-md-6 span.soldout {
	top: 30px;
}
.woocommerce .gg-wc-ordering-wrapper {
	float: left;
	width: 100%;
	
	margin-bottom: 30px;
}

.woocommerce .woocommerce-result-count {
	float: left;
	margin-bottom: 0;
}

.woocommerce form.woocommerce-ordering,
.woocommerce .products-per-page {
	float: right;
	width: auto;
	margin-bottom: 0;
	margin-left: 30px;
}

.woocommerce .products-per-page form.woocommerce-products-per-page {
	margin-bottom: 0;
	float: right;
	width: auto;
	margin-left: 15px;
}

.woocommerce select.fabio_woo_result_count,
.woocommerce form.woocommerce-ordering select,
.woocommerce .products-per-page select {
	background: transparent;
	border: 0;
	padding: 0;
	height: auto;

	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #000;

	font-style: normal;
}

.woocommerce .products {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}

/**
Product carousel
*/

.product-body {
	position: relative;
	display: flex;

}

.product-body > a {
	flex: 1;
}

.product-body > a > h3,
.product-body > a > h2  {
	display: block;
	margin-top: 18px;

	color: #000;
	font-family: Montserrat;
	font-weight: 600;
	line-height: 18px;
	font-size: 12px;
    text-transform: uppercase;

	padding-left: 12px;
}

.products-carousel .product-body a h3 {
	margin-bottom: 35px;
	text-transform: uppercase;
}

.product-body span.price {
	margin-top: 15px;
	padding: 5px 0;
	font-size: 12px;
	line-height: normal;
	padding-right: 12px;
	height: 100%;
	border-right: 1px solid #e8e8e8;

}

.product-body span.price del{
	color: #a9a9a9;
}

.product-body span.price del,
.product-body span.price ins {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 18px;
}

.price ins,
.product-body span.price ins {
    text-decoration: none;
}

.product-image {
	display: block;
	position: relative;
    overflow: hidden;
}

.product-image .product-image-overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product-image .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
    overflow: hidden;
}

.product-image .overlay .wrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
    z-index: 2;

    transform: translateY(100%);

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}
.products-carousel div.product:hover .product-image .overlay .wrapper,
.products > div.product:hover .product-image .overlay .wrapper {
    transform: translateY(0);
}

.products > div.product .product-image img,
.products-carousel div.product .product-image img {
    -webkit-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    -moz-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.products > div.product:hover .product-image img,
.products-carousel div.product:hover .product-image img {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -o-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);

    -webkit-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    -moz-transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.fabio-wishlist-icon {
    position: absolute;
    z-index: 1;
    background: rgba(255,255,255,0.8);
    padding: 2px 0;

    transform: translateY(-100%);
    width: 100%;
    text-align: center;

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}

.products-carousel div.product:hover .fabio-wishlist-icon,
.products > div.product:hover .fabio-wishlist-icon {
    transform: translateY(0);

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}

.product-image .overlay .wrapper a {
    display: block;
    text-align: center;
	background: rgba(255,255,255,0.8);
	width: 100%;
	font-family: Montserrat;
	font-size: 10px;
    font-weight: 600;
	text-transform: uppercase;
	color: #000;
	padding: 12px 0 10px 0;
	font-weight: normal;
    letter-spacing: 2px;
}

.product-image .overlay .wrapper a:after {
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: .618em;
    width: 0;
    content: "";
    text-align: right;
    font-size: 100%;
    position: absolute;


    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
}

.product-image .overlay .wrapper a.loading:after{
  margin-left: .618em;
  width: 1em;
  font-family: "FontAwesome";
  
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

.product-image .overlay .wrapper a.loading.added:after {
  margin-left: .618em;
  width: 1em;
  content: "\f00c";
}

.products-carousel-nav {
	margin-bottom: 30px;
	clear: both;
}
.products-carousel-nav .prev{
	margin-right: 15px;
	font-size: 30px;
	color: #d4d9de;
	left: -5px;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	width: 41px;
	height: 41px;
}

.products-carousel-nav .next{
	margin-left: 15px;
	font-size: 30px;
	color: #d4d9de;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	right: -5px;
}

.products-carousel-nav .prev,
.products-carousel-nav .next {
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    width: 40px;
    background: #fff;
    text-align: center;
    color: #373737;
    font-size: 18px;
    line-height: 40px;

    transform: translateX(0);
}

.products-carousel-nav .next:hover,
.products-carousel-nav .prev:hover {
	color: #000;
    transform: translateX(5px);
}

.products-carousel-nav .prev:hover {
    transform: translateX(-5px);
}

.products-carousel-nav.pcn-left, .leftAlign {
	text-align: left;
}
.products-carousel-nav.pcn-right, .rightAlign {
	text-align: right;
}

.products > div.product,
.products-carousel div.product {
    padding-top: 15px;
    position: relative;
    overflow: hidden;

    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}

.products-carousel div.product:hover,
.products > div.product:hover {
    background: #fff;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
    transition: all ease-in-out 0.35s;
}

.products > div.product.packery-grid-item {
    padding: 15px;
}

@media (min-width: 768px) {
    body.gg-shop-cols-2 .products > div.product.packery-grid-item {
        width: 50%;
    }
    body.gg-shop-cols-3 .products > div.product.packery-grid-item {
        width: 25%;
    }
    body.gg-shop-cols-3 .products > div.product.packery-grid-item:nth-of-type(3n+1) {
        width: 50%;
    }
    body.gg-shop-cols-4 .products > div.product.packery-grid-item {
        width: 20%;
    }
    body.gg-shop-cols-4 .products > div.product.packery-grid-item:nth-of-type(4n+1) {
        width: 40%;
    }
}

.product .tooltip-inner {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
    padding: 15px;
    max-width: 300px;
}

.woocommerce .products li,
.woocommerce .el-grid.products div.product {
	margin-bottom: 30px;
}

.woocommerce .products div.first {
	clear: both;
}

.woocommerce .products li.clearfix.visible-md.visible-lg,
.woocommerce .products li.clearfix.invisible-xs {
	margin: 0;
	padding: 0;
}

.woocommerce .products li .price ins,
.woocommerce .el-grid.products div.product .price ins,
.el-grid li.product .price ins {
	text-decoration: none;
}

.woocommerce .products li .price del,
.woocommerce .el-grid.products div.product .price del,
.el-grid li.product .price del {
	font-size: 80%;
}

/* Single product */

.woocommerce.single-product .product .summary,
.woocommerce.single-product .images {
	margin: 0;
	float: left;
	width: 100%;
}

.woocommerce.single-product .product .summary {
	padding: 15px;
}

@media (min-width: 768px) {
   .woocommerce.single-product .product .summary {
        padding: 30px;
    } 
}

@media (min-width: 992px) {
	.woocommerce.single-product .product .summary {
		padding: 30px 60px 30px 0;
	}
}

.woocommerce.single-product .product .summary + .thumbnails {
	align-self: flex-start;
}

.woocommerce.single-product .product .summary + .thumbnails a.zoom {
	float: left;
	margin: 15px 15px 0 0;
}
.woocommerce.single-product .product .summary + .thumbnails a.zoom:last-child {
	margin-right: 0; 
}

/*Product images*/
.woocommerce.single-product .images .woocommerce-main-image {
	float: left;
	width: 100%;
	text-align: center;
}
.woocommerce.single-product .images .woocommerce-main-image img {
	-webkit-animation: fadeIn .5s;
	animation: fadeIn .5s;
}

.woocommerce .product .summary form.cart {
	width: 100%;
	float: none;
	margin: 0 0 60px 0;
}

@media (min-width: 768px) {
    .woocommerce .product .summary form.cart {
        width: auto;
        float: left;
    }
}

.woocommerce .product .summary form.cart.variations_form {
	width: 100%;
}

.woocommerce .product .summary h1.product_title {
	font-size: 28px;
	letter-spacing: 2px;
	line-height: normal;
	margin: 0 0 15px 0;
	font-family: Montserrat;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 600;
}

.woocommerce .wc-proceed-to-checkout input[type="submit"] {
	height: auto;
}

.woocommerce .product .summary p.cart {
	float: left;
	margin-right: 30px;
}

.woocommerce .product  .single_add_to_cart_button.button {
    color: #fff;
    border:0;
}

.woocommerce .button.wc-forward {
	height: auto;
	font-style: normal;
}

.woocommerce.gg-widget .button.wc-forward {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.woocommerce.gg-widget .button.wc-forward.checkout {
	float: right;
	padding-left: 20px;
	padding-right: 20px; 
}

.woocommerce .cart .quantity {
	position: relative;
	max-width: 170px; /* In corelation with input.qty width */
	float: left;
	margin-right: 2px;

}

.woocommerce .cart .quantity input.qty {
	width: 105px;

	text-align: center;
	padding-left:25px;
	padding-right: 25px;

	background: #e8e8e8;
	border:1px solid #e8e8e8;
	color: #121416;
	box-shadow: none;
    height: 45px;
}

.woocommerce .cart .quantity input.minus,
.woocommerce .cart .quantity input.plus {
	width: 30px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	line-height: normal;
	padding: 0;
	background: transparent;
	border: 0;
	color: #fff;
	border-radius: 0;
	font-size: 18px;
	background: #e8e8e8; 
	color: #a2a8ab;

}

.woocommerce .cart .quantity input.minus:hover,
.woocommerce .cart .quantity input.plus:hover {
	background: #000;
	color: #fff;
}

.woocommerce .cart .quantity input.minus {
	right: auto;
	left: 0;
}

.woocommerce .single-product-wrapper {
    background: #fff;
}

.woocommerce #content .single-product-wrapper .quantity {
    margin-bottom: 15px;
    float: left;
}

.woocommerce .product .summary div[itemprop="description"] {
	margin-bottom: 60px;
}

.woocommerce .product .summary div[itemprop="offers"] {
	margin-bottom: 30px;
	margin-right: 40px;
	
	font-weight: bold;
	color: #121416;

	float: left;
	width: auto;
}

.woocommerce .product .summary div[itemprop="offers"] p.price {
	line-height: 38px;
	margin-bottom: 0;
}

.woocommerce .product .woocommerce-variation-price {
	font-weight: bold;
	color: #121416;
}

.woocommerce .upsells.products,
.woocommerce .related.products {
	width: 100%;
}

.woocommerce .upsells.products > h2,
.woocommerce .related.products > h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin: 60px 0 15px 0;
}

.woocommerce .woocommerce-tabs {
	padding-top: 60px;
	clear: both;
}

.woocommerce .product .woocommerce-tabs + .related.products h2,
.woocommerce .product .woocommerce-tabs + .upsells.products h2 {
	margin-top: 0;
}

.woocommerce .product .upsells.products li,
.woocommerce .product .related.products li {
	padding-top: 0;
}

.woocommerce .product .summary .single_variation {
	margin: 30px 0;
}

.woocommerce .product .summary .variations {
	width: 100%;
}
.woocommerce .product .variations_form .variations .value select{
   padding: 3px 10px;
   height: 38px;
}
.woocommerce .product .summary .single_variation_wrap {
	margin-top: 30px;
}

.woocommerce .product .summary .variations td.label {
	height: 36px;
    max-width: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: left;
	color: #000;
	font-family: Montserrat;
	padding: 0;
}

.woocommerce .product .summary .variations td.label label {
	margin: 0;
}

.woocommerce .product .summary .variations td.value {
    max-width: 100%;
    padding: 0 0 12px 0;
    vertical-align: top;
}

.woocommerce .product .summary .variations tr:last-child td.value {
	padding-bottom: 0;
}

.woocommerce .product .summary .variations .reset_variations {
	margin-left: 15px;
}

/* Single product - Review tabs */
#review_form h3#reply-title {
	font-size: 15px;
    line-height: normal;
    margin: 30px 0;
}


/*Social*/
.woocommerce.single-product .product  .post-social {
	position: absolute;
	right: 15px;
	border: 1px solid #d4d9de;
}

.woocommerce.single-product .product  .post-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.woocommerce.single-product .product  .post-social ul li {
	float: left;
	border-left: 1px solid #d4d9de;
	text-align: center;
	border-right: 0;
}

.woocommerce.single-product .product  .post-social ul li:first-child {
	border-left: 0;
}

.woocommerce.single-product .product  .post-social ul li a {
	float: left;
	min-width: 40px;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 13px;
}



/* Category hover */

.product-image-wrapper.inverse:hover img {
	opacity: .1;
}

.product-image-wrapper.inverse h3 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
}

.product-image-wrapper.inverse:hover h3,
.product-image-wrapper.inverse:focus h3 {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.product-image-wrapper.inverse h3 span {
	background: #000;
	color: #fff;
	font-size: 11px;
	padding: 15px 50px;
}

.product-image-wrapper.inverse h3 span mark {
	background: transparent;
	padding: 0;
	color: #fff;
}

/* Plugin styles overwrite */

/* Wishlist */
.yith-wcwl-add-to-wishlist {
	margin: 0;
}

/* General - Tabs */
.woocommerce-tabs .tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	float: none;
	width: 100%;
	display: block;
	text-align: left;
}
.woocommerce-tabs .tabs li {
	display: inline-block;
	padding: 0px 15px 0px 0;
	position: relative;
}
.woocommerce-tabs .tabs li a {
	display: inline-block;
	color: #9c9c9c;
}
.woocommerce .col-md-9 .product .col-md-6 .summary {
	padding-left: 15px;
	padding-right: 15px;
}
.woocommerce-tabs .tabs li a {
	font-family: Montserrat;
	font-size: 10px;
    font-weight: 600;
	
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.woocommerce-tabs .tabs li.active a {
	background: #fff;
	color: #000;

}
.woocommerce-tabs .panel {
	border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 30px 0 0 0;
    margin: 0 auto;
	text-align: left;
	max-width: 775px;
	color: #9c9c9c; 
	font-size: 14px;
	line-height: 24px;
}

.woocommerce-Tabs-panel--description p:last-child {
	margin-bottom: 0;
}

/* Widgets */

/* General styles regarding wc widgets with thumbs */

.gg-widget.widget_products ul li a,
.gg-widget.widget_recent_reviews ul li a,
.gg-widget.widget_recently_viewed_products ul li a,
.gg-widget.widget_top_rated_products ul li a {
	display: block;
}

.gg-widget.widget_products ul li a img,
.gg-widget.widget_recent_reviews ul li a img,
.gg-widget.widget_recently_viewed_products ul li a img,
.gg-widget.widget_top_rated_products ul li a img {
	width: 32px;
	margin-left: 15px;
	float: right;
    height: auto;
}



/* Widget - Product categories  */

.gg-widget.widget_product_categories select {
	width: 100%;
}

.gg-widget.widget_product_categories ul.product-categories li.cat-parent {
	border-bottom: 0;
	padding: 0;
	margin: 0;
}

.gg-widget.widget_product_categories ul.product-categories li.cat-parent > a {
    padding-left: 30px;
}

.gg-widget.widget_product_categories ul.product-categories li .count {
	float: right;
}

.gg-widget.widget_product_categories ul.product-categories li:last-child {
	padding-bottom: 5px; 
}

.gg-widget.widget_product_categories ul.product-categories li.cat-parent ul.children li > a {
  color: #ababab;
  font-weight: normal;
}

.gg-widget.widget_product_categories ul.product-categories li.cat-parent ul.children {
  margin: 5px 0;
}

.gg-widget.widget_recent_reviews .star-rating {
	float: none;
}

/* Widget - Top Rated  */
.gg-widget.widget_top_rated_products .star-rating {
	float: none;
}

/* Widget - Shopping cart  */

.gg-widget.widget_shopping_cart li {
	position: relative;
	margin: 0 0 15px;
    padding: 0 0 15px;
}

.gg-widget.widget_shopping_cart li:last-child {
	margin-bottom: 0;
}

.gg-widget.widget_shopping_cart li a {
	display: block;
	font-weight: bold;
}

.gg-widget.widget_shopping_cart li img {
	float: left;
	width: 32px;
	margin-right: 10px;
	height: auto;
}

.gg-widget.widget_shopping_cart a.remove {
	position: absolute;
	right: 0;
	top: 0;
}

.gg-widget.widget_shopping_cart .total {
	border-top: 1px solid #d4d9de;
    padding: 20px 0 0;
    margin: 30px 0 25px 0;

    font-weight: bold;
    text-transform: uppercase;
}

footer.site-footer .gg-widget.widget_shopping_cart .total {
	border-color: #414141;
}

.gg-widget.widget_shopping_cart li .quantity {
	display: block;
	padding-left: 42px;
}

.gg-widget.widget_shopping_cart dl.variation {
	padding-left: 42px;
	margin: 0;
}


/* Widget - Recently viewed  */


/* Widget - Layered navigation  */

.gg-widget.widget_layered_nav .count {
	float: right;
}

/* Cart page */

body.woocommerce-cart #content > form {
	margin: 0;
}

body.woocommerce-cart header.site-header .page-meta .page-meta-wrapper {
	border-bottom: 0;
}

body .wishlist_table tr td.product-thumbnail a {
    max-width: none;
}

body .wishlist_table tr td.product-name {
    width: 100%;
}

body.woocommerce .wishlist_table td {
    white-space: nowrap;
}
body.woocommerce .wishlist_table td.product-stock-status {
    margin: 0;
    font-size: 12px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body .wishlist_table tr td.product-stock-status span.wishlist-in-stock,
body.woocommerce #content table.wishlist_table.cart a.remove {
    color: #9c9c9c;
    font-size: 11px;
}

body.woocommerce #content table.wishlist_table.cart a.remove:hover {
    background-color: transparent;
    color: #000;
}

.woocommerce .shop_table.cart tr.cart_item,
.woocommerce .shop_table.cart tr.cart_item_wishlist {
	background: #fff;
	display: flex;
	align-items: center;
	margin: 0 0 30px 0;
}

.woocommerce .shop_table.cart td,
.woocommerce .shop_table.cart th {
	padding: 30px;
	display: inline-block;

    white-space: nowrap;
}

.woocommerce .shop_table.cart td.product-name {
    width: 100%;
}

.woocommerce .shop_table.cart .product-thumbnail {
	text-align: center;
    padding: 30px;
    flex: 1;
}
.woocommerce .shop_table.cart .product-thumbnail img {
	max-width: 100px;
    width: auto;
}

.woocommerce .shop_table .product-remove a {
	font-size: 21px;
}

.woocommerce .shop_table.cart td.product-remove a:hover {
	-webkit-font-smoothing: antialiased;

    -webkit-animation: fa-spin 2s infinite linear;
  	animation: fa-spin 2s infinite linear;
}

.woocommerce .shop_table.cart .product-name h2 a {
	font-size: 13px;
	letter-spacing: 2px;
	line-height: normal;
	margin-bottom: 0;
	display: block;
    text-transform: uppercase;
}
.woocommerce .wc-proceed-to-checkout {
	margin-top: 5px;
}

.woocommerce .shop_table.cart .product-name h2 {
    margin-bottom: 0;
    white-space: normal;
}

.woocommerce .shop_table.cart .product-name h3.product-price {
	margin: 5px 0 0 0;
    font-size: 12px;
	color: #9c9c9c;
    letter-spacing: 0;
}

.woocommerce .shop_table.cart .product-name .product-remove a.remove {
	font-family: Montserrat;
	color: #9c9c9c;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
}
.woocommerce .shop_table.cart .product-name .product-remove a.remove:hover {
    color: #000;
}

.woocommerce dl.variation {
	margin-bottom: 30px;
}

.woocommerce dl.variation dd {
	margin-bottom: 0;
}

.woocommerce dl.variation p {
	margin: 0;
}

.woocommerce dl.variation dt {
	float: left;
	margin-right: 5px;
	color: #000;
}

footer.site-footer .woocommerce dl.variation dt {
	color: #fff;
}

.woocommerce .cart-collaterals {
		background: #fff;
	padding: 0;
	border-top:0px;
}

.woocommerce .cart-collaterals .coupon {
	padding: 60px 30px;
	border-bottom: 1px solid #d4d9de;
}

.woocommerce .cart-collaterals .coupon label {
	margin: 0;
}

.woocommerce .cart-collaterals {
	padding: 30px;
}

.woocommerce .cart-collaterals .cross-sells {
	padding: 0;
    margin-bottom: 35px;
}

.woocommerce ul#shipping_method {
	list-style: none;
	padding: 0;
	margin: 0;
}

.woocommerce .cart-collaterals .cart_totals table tr th {
	padding-right: 30px;
	width: 30%;
	vertical-align: top;
	font-size: 12px;
	color: #9c9c9c; 
}
.woocommerce .cart-collaterals .cart_totals table tr td,
.woocommerce .cart-collaterals .cart_totals table tr td input {
	font-size: 12px;
	text-transform: uppercase;

	color: #000000; 
}
.woocommerce .cart-collaterals .cart_totals table tr td .woocommerce-Price-amount{
    font-weight: bold;
}
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce .cart-collaterals .cross-sells > h2 {
	padding: 0;
	margin: 0;
}

.woocommerce .cart-collaterals .cart_totals table {
	margin: 20px 0 10px 0;
	
	table-layout: fixed;
  	width: 100%; /* must have this set */
}

.woocommerce .cart-collaterals .cart_totals p {
	margin: 15px 0 0 0;
}

.woocommerce .cart-collaterals input[type="text"] {
	width: 100%;
}

.woocommerce .cart-collaterals .cross-sells ul.products {
	margin-top: 50px;
}
.woocommerce .cart-collaterals .cross-sells ul.products li {
	margin-bottom: 0;
}

.gg-shop-style4 .woocommerce .cart-collaterals .cross-sells ul.products li {
	border: 0;
}

.woocommerce .shop_table.cart td.actions {
	vertical-align: top;
	padding: 60px 100px;
}

.woocommerce .shop_table.cart td.actions .coupon .input-group {
	width: 100%;
}

.woocommerce .shop_table.cart td.actions .btn {
	text-transform: uppercase;
}

.woocommerce .shop_table.cart td.actions .cross-sells h2 {
	font-size: 14px;
    margin: 50px 0 25px;
    padding: 0;
    text-transform: uppercase;
}

.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals table.table {
	margin: 0 0 30px 0;
}

.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals h2 {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 25px 0;
	margin: 0;
}

.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals th,
.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals td {
	padding: 10px 0;
	vertical-align: top;
	color: #000;
	font-size: 12px;
	text-transform: none;
}

.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals .cart-subtotal th,
.woocommerce .shop_table.cart td.actions .cart-collaterals .cart_totals .cart-subtotal td {
	padding-top: 25px;
} 

.woocommerce .shop_table.cart td.actions .cart-collaterals .shipping p {
	margin: 11px 0;
}

.wc-proceed-to-checkout .checkout-button {
	width: 100%;
    display: block;
}
.fabio-woo-cart-update {
	text-align: center;
	margin-top: 5px;
}
.fabio-woo-cart-update .btn{
    width: 100%;
    background: #c0c3c4 !important; 
}	
.fabio-woo-cart-update .btn:hover{
	background: #000;
    color: #fff;
}
/* Checkout page */

body.woocommerce-checkout .woocommerce-info {
	border: 0;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}



@media (min-width: 992px) {
	.woocommerce .cart-actions input[name="update_cart"] {
		right: 30px;
		bottom: 30px;
	}
}


/*Rows layout*/
.woocommerce .form-row-first {
    width: 49.8%;
    float: left;
    margin-right: 0%;
}
.woocommerce .form-row-last {
    width: 49.8%;
    float: right;
    margin-right: 0;
}

.woocommerce .form-row {
	margin-bottom: 30px;
}

.woocommerce .form-row-wide {
    width: 100%;
}
.woocommerce form.checkout #customer_details  {
	margin-top: 60px;
}

.woocommerce form.checkout #customer_details .left .woocommerce-billing-fields__field-wrapper label,
.woocommerce form.checkout #customer_details .left .woocommerce-shipping-fields__field-wrapper label{
	display: none;
}

.woocommerce form.checkout #customer_details .left .form-row:not(.notes) {
	margin-bottom: 5px;
}
.woocommerce form.checkout #customer_details .wrapper {
    background: #fff;
    padding: 30px;
    position: relative;
    float: left;
    width: 100%;
}

.woocommerce form.checkout #customer_details .right .wrapper:after {
    bottom: 0px;
    background-position: left bottom;
    background: -webkit-linear-gradient(-45deg, #f2f6f7 11px, transparent 0), -webkit-linear-gradient(-315deg, #f2f6f7 11px, transparent 0);
    background: linear-gradient(-45deg, #f2f6f7 11px, transparent 0), linear-gradient(45deg, #f2f6f7 11px, transparent 0);
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 22px;
    background-repeat: repeat-x;
    background-size: 22px 22px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 42px;
	line-height: 42px;

}
.select2-container--default .select2-selection--single {
	border: none;
	height: 42px;
}
#ship-to-different-address input[type=checkbox],
#createaccount{
	position: static;
	margin: 0;
	padding-right: 10px;
}

body.woocommerce-checkout h2,
body.woocommerce-checkout h3,
.woocommerce form.checkout #customer_details h3,
.woocommerce form.checkout #order_review header.title h3 ,
#ship-to-different-address label {
	margin: 0 0 30px 0;
	padding: 0;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 13px;
	letter-spacing: 2px;
	position: relative;
	font-weight: 600;

}

.woocommerce form.checkout #customer_details .woocommerce-billing-fields > h3,
.woocommerce form.checkout #customer_details .woocommerce-additional-fields > h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.woocommerce-additional-fields,
.woocommerce-additional-fields__field-wrapper {
    display: block;
    float: left;
    width: 100%;
}

body.woocommerce-checkout h2, body.woocommerce-checkout h3, .woocommerce form.checkout #customer_details h3, .woocommerce form.checkout #order_review header.title h3{
	margin-bottom: 15px;
}
body.woocommerce-checkout .woocommerce-checkout-review-order-table .product-total {
	margin-bottom: 15px;
}
body.woocommerce-checkout .woocommerce form.checkout #order_review .shop_table th {
	font-weight: normal;
	color: #9c9c9c; 
}

.woocommerce form  #shipping_method li label,
.woocommerce form #shipping_method li label .woocommerce-Price-amount {
	font-family: Montserrat;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}

body.woocommerce-checkout h2, body.woocommerce-checkout h3 {
	margin-bottom: 15px;
}
.woocommerce form.checkout #order_review .shop_table th,
.woocommerce form.checkout #order_review .shop_table td {
	padding: 5px 10px 5px 0;
	vertical-align: top;
	text-transform: none;
}

.woocommerce form.checkout #order_review .shop_table th {
	font-weight: bold;
	color: #000;
}

.woocommerce form.checkout #order_review .shop_table tbody {
	border-bottom: 1px solid #d4d9de;
}

.woocommerce form.checkout #order_review .shop_table tfoot tr.cart-subtotal th,
.woocommerce form.checkout #order_review .shop_table tfoot tr.cart-subtotal td {
	padding-top: 30px;
}

.woocommerce form.checkout #order_review .shop_table dl.variation dt {
	color: #9c9c9c;
}

.woocommerce form.checkout #order_review table.woocommerce-checkout-review-order-table {
	margin-bottom: 30px;
	width: 100%;
}

.woocommerce form.checkout .woocommerce-checkout-payment {
	border-top: 1px solid #e8e8e8;
	padding-top: 20px;
    float: left;
    width: 100%;
}

.woocommerce form.checkout .woocommerce-checkout-payment .form-row.place-order {
    border-top: 1px solid #e8e8e8;
    margin: 15px 0 0 0;
}
.woocommerce form.checkout ul.payment_methods {
	list-style: none;
	margin: 0;
	
	padding: 0;
	
	clear: both;
	overflow: hidden;
	display: block;
}

.woocommerce form.checkout ul.payment_methods li {
	margin: 8px 0;

	display: block;
}

.woocommerce form.checkout ul.payment_methods li label {
	display: inline;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.woocommerce form.checkout .place-order #place_order {
	margin-top: 30px;
	/*border: 0;*/
}

.woocommerce form.checkout #customer_details .shipping_address {
	padding-top: 10px;
    margin-bottom: 35px;
}

.woocommerce form.checkout #customer_details h3#ship-to-different-address:after {
	content: "";
	display: none;
}

.woocommerce form.checkout #customer_details h3#ship-to-different-address {
    margin: 30px 0;
    float: left;
    width: 100%;
    text-align: center;
}

.woocommerce form.checkout #customer_details h3#ship-to-different-address label {
	display: inline-block;
	margin: 0;
}

.woocommerce form.checkout #customer_details h3#ship-to-different-address input[type="checkbox"] {
	margin-top: 19px;
}
.woocommerce .woocommerce-checkout-review-order-table .woocommerce-Price-amount{
	font-weight: bold;
	font-size: 12px;
	color: #000000; 
}
.woocommerce .woocommerce-checkout-review-order-table .product-name {
    font-size: 12px;
    color: #9c9c9c; 
}

.woocommerce-account-fields {
	clear: both;
	padding-top: 25px;
}
	.woocommerce-account-fields label {
		display: none;
	}
/* Account page */

body.woocommerce-account h2,
body.woocommerce-account h3 {
	margin: 0 0 20px 0;
	padding: 0;
}

body.woocommerce-account .myaccount_user,
body.woocommerce-account .myaccount_address,
body.woocommerce-account .my_account_orders {
	margin-bottom: 60px;
}

body.woocommerce-account .address {
	position: relative;
}

body.woocommerce-account .address .edit {
	position: absolute;
	right: 15px;
	top: 0;
}

body.woocommerce-account .shop_table th {
    padding: 0 0 15px 0;
    vertical-align: middle;
}

body.woocommerce-account .shop_table.customer_details th,
body.woocommerce-account .shop_table th[scope="row"] {
	padding: 0;
}

body.woocommerce-account .shop_table td {
	padding: 10px 10px 10px 0;
    color: #000;
    text-transform: none;
    vertical-align: middle;
}

/* Order received page */

body.woocommerce-order-received .woocommerce-order {
    padding-top: 30px;
}

body.woocommerce-order-received h2,
body.woocommerce-order-received header.title h3 {
	margin: 0 0 50px 0;
	padding: 0;
}

body.woocommerce-order-received p + h2 {
	margin-top: 40px;
}

body.woocommerce-order-received .order_details,
body.woocommerce-order-received .customer_details {
	margin-bottom: 50px;
}

body.woocommerce-order-received ul.order_details {
	list-style: none;
	margin: 30px 0;
	padding: 0;
	background: #fff;
}

body.woocommerce-order-received ul.order_details li {
	display: inline-block;
	border-right: 1px solid #d4d9de;
	padding: 15px 30px;
}
@media (min-width: 992px) {
	body.woocommerce-order-received ul.order_details li {
		padding: 30px 45px;
	}
}

body.woocommerce-order-received ul.order_details li strong {
	display: block;
	color: #000;
}

body.woocommerce-order-received ul.order_details li:last-child {
	border: 0;
}

body.woocommerce-order-received .shop_table th,
body.woocommerce-order-received .shop_table td {
	padding: 10px 10px 10px 0;
	vertical-align: top;
	text-transform: none;
	vertical-align: middle;
}

body.woocommerce-order-received .shop_table th.product-name,
body.woocommerce-order-received .shop_table th.product-total {
	padding: 0 0 15px 0;
}

/*Edit account*/

.woocommerce-EditAccountForm,
.woocommerce-address-fields {
    background: #fff;
    padding: 30px;
}

/* Notifiations */

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 20px 30px;
	border: 2px solid #e8e8e8;
	margin: 30px 0 0 0;
	list-style: none;
	width: 100%;
	background: #fff;
}

.woocommerce-message strong,
.woocommerce-error strong,
.woocommerce-info strong {
	font-style: normal;
}

.woocommerce-info {
	border-color:#e2e5e7;
}
.woocommerce-error {
	border-color:#e71111;
}

.woocommerce-message a.button {
	margin-right: 30px;
}

/*Shop styles*/
/*---------------------------------------------*/


ul.products {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    align-items: stretch;
}

.upsells.products ul.products .product {
	flex:1;
}

.gg-shop-style4 .upsells.products ul.products .product {
	border: 0;
}

ul.products .product img {
	max-height: 500px;
	width: auto;
}

ul.products .product .gg-product-image-wrapper {
	background: #f2f2f2;
	margin-bottom: 30px;
	padding: 50px;
	position: relative;
}

.gg-shop-style4 ul.products .product .gg-product-image-wrapper {
	padding: 0;
}

ul.products .product .add_to_cart_button {
	position: relative;
}

ul.products .product .add_to_cart_button.product_type_variable {
	padding-left: 25px;
	padding-right: 25px;
}

ul.products .product .add_to_cart_button:after {
	font-family: 'FontAwesome';
 	display: inline-block;
	margin-left: .618em;
	width: 0;
	content: "";
	text-align: right;
	font-size: 100%;
	line-height: 1em;
	position: absolute;


	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-ms-transition: all ease-in-out 0.1s;
	-o-transition: all ease-in-out 0.1s;
	transition: all ease-in-out 0.1s;
}

ul.products .product .add_to_cart_button.loading:after {
  margin-left: .618em;
  width: 1em;
  font-family: "FontAwesome";
  
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}


ul.products .product .add_to_cart_button.added:after {
  margin-left: .618em;
  width: 1em;
  content: "\f00c";
}


/*---------------------------------------------*/

/*Single product - Meta*/
.woocommerce .product_meta {
	float: none;
	width: 100%;
	clear: both;
	padding-top: 60px;
}

.woocommerce .product_meta > span {
	margin-right: 15px;
}


/*Single product - Attributes*/
.woocommerce .shop_attributes {
	width: auto;
	margin: 0;
}

.woocommerce .shop_attributes th,
.woocommerce .shop_attributes td {
	border: 0;
	padding: 5px 0;
	vertical-align: middle;
}

.woocommerce .shop_attributes td p {
	margin: 0;
}

.woocommerce .shop_attributes th {
	position: relative;

	min-width: 150px;
	padding-right: 60px;

	font-size: 12px;
    color: #000;
    font-family: 'Montserrat';
    font-weight: bold;
    letter-spacing: 2px;
    font-style: normal;
    text-transform: uppercase;
}

.woocommerce .shop_attributes td {
	padding-left: 60px;
	text-align: left;
}

.woocommerce .shop_attributes th:after {
	content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #e8e8e8;
    right: -15px;
    top: 20px;
}

.woocommerce .shop_table.cart th {
    color: #121416;
    font-size: 14px;
    letter-spacing: 2px;
   
    font-weight: bold;
    padding: 15px 30px;
	font-family: Montserrat;
    border-bottom: 1px solid #d4d9de;
}

.woocommerce .wc-update-cart {
	display: inline-block;
	margin-right: 30px;
}

#shipping_method input[type="radio"],
.wc_payment_methods input[type="radio"] {
	margin-right: 5px;
}

.wc_payment_methods .about_paypal {
	display: block;
	font-family: "Open Sans";
	font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
}

.wc_payment_methods img {
	float: right;
    border: 0;
    padding: 0;
    max-height: 50px;
}


.woocommerce-page .addresses .col-1,
.woocommerce-page .addresses .col-2 {
	width: 50%;
	float: left;
}

.woocommerce-page .addresses .col-1 {
	padding-right: 30px;
}
.woocommerce-page .addresses .col-2 {
	padding-left: 30px;
}

/* WC 2.6.1*/

/*Woocommerce my account */
.fabio-woo-my-account {
	overflow: hidden;
	
}
.fabio-woo-my-account h1 {
	float: left; 
	font-size: 36px;
	margin: 0;
}
.fabio-woo-my-account .woocommerce-MyAccount-navigation {
	float: left;
	clear: left;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -15px;
}
@media (min-width: 992px) {
	.fabio-woo-my-account .woocommerce-MyAccount-navigation {
		clear: right; 
		float: right;

		margin-left: 0;
		margin-right: 0;
	}
}

.woocommerce .woocommerce-MyAccount-content{ 
	padding-top: 45px;
}
.woocommerce .woocommerce-MyAccount-content > p:not(.woocommerce-FormRow),
.woocommerce .woocommerce-MyAccount-content > p:not(.form-row) { 
	clear: both;
}
.woocommerce .woocommerce-MyAccount-content p a { 
	color: #121416; 
} 
.woocommerce-MyAccount-navigation ul {
	list-style: none;
	
	padding: 0;
	margin: 0;	
	display: block;
	width: 100%;
	text-align: center;
}

.woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	padding: 5px 15px;
}

.woocommerce-MyAccount-navigation ul li a {
	padding: 0;
	letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
}

.woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce-MyAccount-navigation ul li a:hover {
	color: #000;
}

.woocommerce-MyAccount-orders a.button.view {
	background: transparent;
	border: 0;
	color: #000;
	font-style: normal;
}


#reviews #comments ol li .comment_container {
	overflow: hidden;
}

.social-with-navigation {
	position: relative; 
	clear: both;
	margin: 30px 0;
	
}
.social-with-navigation ul {
	display: block;
	padding: 0;
	position: relative;
	margin: 0;
	list-style: none;

}
.social-with-navigation ul:after {
    content: " ";
    border-top: 1px solid #e3e6e8;
    width: 100%;
    top: 18px;
    left: 0;
    position: absolute;
}
.social-with-navigation ul li {
	display: inline-block;
	padding-right: 17px;
	background: #fff; 
	margin:0;
	position: relative;
	z-index: 1;
	float: left;
}

.social-with-navigation ul li a {
	font-size: 17px;
	color: #b5b5b5;
}
.social-with-navigation ul li a:hover {
    color: #000;
}

/*cart */
.cart_item .woocommerce-Price-amount {
	color: #9c9c9c;
	font-family: "Open Sans"; 

	font-weight: normal;
}
.woocommerce .cart-actions {
	
	padding: 30px;
	margin: 0 0 15px 0;
	background: #fff;
	width: 100%;
	
}
.woocommerce .cart-actions input[type=text] {
	width: 100%;
	background: #e8e8e8;
	border: none;
	text-align: center;
	margin: 10px 0 5px 0;
}
.woocommerce .cart-actions input[type=submit] {
	width: 100%;
}
.woocommerce .cart-actions .coupon label {
	font-size: 13px;
	font-family: Montserrat;
	letter-spacing: 2px;
}

.woocommerce .cart-actions input[name="update_cart"] {
	margin-top: 15px;
}

/*cart total */
.woocommerce .cart-collaterals {
	width: 100%;
    float: left;
}
.woocommerce .cart-collaterals h2 {
	font-size: 13px;
    font-family: Montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce .cart-collaterals .cart_totals table th {
	font-family: "Open Sans";
	font-weight: normal;
	border: 0;
	padding: 0 0 15px 0;
}
.woocommerce .cart-collaterals .cart_totals table td{
	font-weight: normal;
}
.shop_table {
	width: 100%;
}

.woocommerce div.product div.images {
    margin-bottom: 2em;
}
.woocommerce div.product div.images img {
    display: block;
    width: auto;
    height: auto;
    box-shadow: none;
}
.woocommerce div.product div.images div.thumbnails {
    padding-top: 1em;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    position: relative;

	margin-top: 15px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    transition: all cubic-bezier(.795, -.035, 0, 1) .5s;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 25%;
    display: inline-block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    box-sizing: content-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box;
}
.woocommerce div.product div.images .flex-control-thumbs {
    overflow: hidden;
    zoom: 1;
    margin: 0;
    padding: 0;
	position: relative;
}
.woocommerce div.product div.images .flex-control-thumbs .slick-prev  {
	position: absolute;
	top: 0;
	left: 55px;
	background: rgba(255,255,255,0.6);
	transform: rotate(90deg);
}
.woocommerce div.product div.images .flex-control-thumbs .slick-slide {
	margin-bottom: 15px;
	padding: 0;
}

.woocommerce div.product div.images .flex-control-thumbs .slick-prev:mouseover  {
	background: rgba(255,255,255,1);
}
.woocommerce div.product div.images .flex-control-thumbs .slick-next  {
	position: absolute;
	bottom: 8px;
	left: 55px;
	background: rgba(255,255,255,0.6);
	transform: rotate(90deg);
	top: auto;
}
.woocommerce div.product div.images .flex-control-thumbs .slick-next:mouseover  {
	background: rgba(255,255,255,1);
}
.woocommerce div.product div.images .flex-control-thumbs li {
    margin: 0;
    list-style: none;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
    cursor: pointer;
    opacity: 1;
    margin: 0;
}
.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,
.woocommerce div.product div.images .flex-control-thumbs li img:hover {
    opacity: 0.5;
}

.woocommerce div.product div.images .flex-viewport {
    float: left;
    width: 100%;
}

@media (min-width: 768px) {
    .woocommerce div.product div.images .flex-viewport {
        width: 520px;
    }
}

@media (min-width: 992px) {
    .woocommerce div.product div.images .flex-viewport {
        width: 440px;
    }
}

.woocommerce div.product div.images .flex-control-thumbs {
	position: relative;
	width: 100%;
	float: left;
}
@media (min-width: 768px) {
    .woocommerce div.product div.images .flex-control-thumbs {
        width: 100px;
        float: right;
        margin-right: 60px;
    }
}

@media (min-width: 992px) {
    .woocommerce div.product div.images .flex-control-thumbs {
        margin-right: 0;
    }
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 25% !important;
	display: block;
	float: left;
}

@media (max-width: 767px) {
    .woocommerce div.product div.images .flex-control-thumbs .slick-list,
    .woocommerce div.product div.images .flex-control-thumbs .slick-track {
        height: auto !important;
    }
}

@media (min-width: 768px) {
    .woocommerce div.product div.images .flex-control-thumbs li {
        float: none;
        width: 100% !important;
    }
}

ol.flex-control-thumbs li img {
	max-width: 100px;
}

.single-product .product .summary .price {
	font-size: 60px;
	font-family: Montserrat;
	color: #cfcfcf; 
	font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.single-product .product .summary .price del {
    font-size: 18px;
    letter-spacing: 1px;
}

.gg-header-minicart h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat;
	letter-spacing: 2px;
	margin: 0 0 30px;
	max-width: 220px;
	
}
.gg-header-minicart ul{
	padding: 0;
	padding: 0;
}
.gg-header-minicart ul li{
	padding: 0;
	margin: 0;
	display: block;
	list-style-type: none;
}
.gg-header-minicart ul li{
	overflow: hidden;
	padding: 30px 0;
	border-bottom: 1px solid #e3e6e8;
}
.gg-header-minicart ul li:first-child{
	padding-top: 0;
}

.gg-header-minicart ul li .fabio-minicart-thumbnail {
	width: 80px;
	float: left; 
}
.gg-header-minicart ul li .white-modal-cnt{
	clear: right;
	position: relative;
	padding-left: 15px;
}
.gg-header-minicart ul li .white-modal-cnt .fabio-minicart-title{
	font-size: 12px;
	color: #000;
	padding-top: 12px;
}
.gg-header-minicart ul li .white-modal-cnt .fabio-minicart-price {
	color: #9c9c9c;
	font-size: 12px;
}
.gg-header-minicart ul li .white-modal-cnt .fabio-minicart-remove a {
	font-size: 12px;
	color: #9c9c9c;
}
.gg-header-minicart ul li .white-modal-cnt .fabio-minicart-remove{
	position: absolute; 
	top: 12px;
	right: 15px;
}
.gg-header-minicart .fabio-minicart-subtotal {
	text-align: center;
	color: #9c9c9c;
	font-size: 12px;
	padding-bottom: 30px;
}
.gg-header-minicart .fabio-minicart-subtotal span.subtotal {
	color: #000;
	padding-left: 12px;
    font-weight: bold;
}
.gg-header-minicart .fabio-minicart-butons {
	text-align: center;
}
.gg-header-minicart .fabio-minicart-butons .btn {
	margin-bottom: 6px;
    width: 100%;
}
.gg-header-minicart ul li .fabio-minicart-thumbnail img{
	max-width: 72px;
}
.gg-header-minicart  .alert {
	padding-top: 30px;
}
#simpleModal .close-window {
    position: absolute;
    right: 30px;
    top: 31px;
    letter-spacing: 2px;
    color: #9c9c9c;
    font-size: 9px;
    font-family: Montserrat;
}
.product_title {
    position: relative;
}

.product .summary .yith-wcwl-add-to-wishlist {
    display: inline-block;
}

.product .summary .yith-wcwl-add-button {
	border-left: 1px solid #e8e8e8;
	margin-left: 10px;
	padding-left: 10px;
}

.yith-wcwl-wishlistaddedbrowse,
.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse a,
.yith-wcwl-wishlistexistsbrowse a {
	margin-top: 10px;
	color: #b6b6b6; 
}

a.add_to_wishlist {
	color: #b6b6b6; 
	font-family: fontawesome;
	padding-left: 12px;
	margin-left: 5px;
}

.product .summary a.add_to_wishlist {
    padding-left: 6px;
}

.already_in_wishlist a.add_to_wishlist {
    color: #000; 
}

/*Wishlist*/

body.woocommerce table.wishlist_table {
    font-size: 100%;
}

body.woocommerce table.wishlist_table td.wishlist-empty {
    width: 100%;
}

body.woocommerce .yith-wcwl-share ul {
    padding: 0;
}

body.woocommerce .yith-wcwl-add-to-wishlist .ajax-loading {
    position: absolute;
}

body.woocommerce .yith-wcwl-add-to-wishlist a.add_to_wishlist {
    padding: 0;
}

/*Reset pass*/
.woocommerce-ResetPassword {
    background: #fff;
    padding: 30px;
}

.woocommerce .woocommerce-ResetPassword .form-row {
    margin-bottom: 15px;
}

/* Login/register modal */
.fabio-login-modal,
.fabio-register-modal {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

@media screen and (max-width: 600px) {

    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table, 
    .woocommerce-page table.shop_table thead, 
    .woocommerce-page table.shop_table tbody,
    .woocommerce-page table.shop_table tfoot, 
    .woocommerce-page table.shop_table th, 
    .woocommerce-page table.shop_table td, 
    .woocommerce-page table.shop_table tr { 
        display: block !important; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .woocommerce-page table.shop_table tr { 
        /*border: 1px solid #d2d3d3; */
    }

    .woocommerce-page table.shop_table td,
    .woocommerce .shop_table.cart td { 
        /* Behave  like a "row" */
        border: 1px solid #d2d3d3; 
        position: relative;
        text-align: center;
    }

    .woocommerce .shop_table.cart .product-thumbnail {
        padding: 15px !important;
    }

    .woocommerce-page table.shop_table {
        border: none;
    }

    .woocommerce-page table.shop_table td.product-spacer {
        border-color: #FFF;
        height: 10px;
    }

    .woocommerce-page table.shop_table td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .woocommerce .quantity, 
    .woocommerce #content .quantity, 
    .woocommerce-page .quantity, 
    .woocommerce-page #content .quantity {
        margin: 0 auto;
        float: none;
        max-width: 120px;
    }

    .woocommerce-page table.cart td.actions, 
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border:0;
        padding-left: 6px !important;
    }

    .woocommerce-page table.cart td.actions .button.alt, 
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }

    .woocommerce-page table.cart td.actions div, 
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input, 
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }

    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }

    body.woocommerce-checkout .woocommerce form.checkout #order_review .shop_table th,
    .woocommerce form.checkout #order_review .shop_table tfoot tr.cart-subtotal th,
    .woocommerce form.checkout #order_review .shop_table tfoot tr.cart-subtotal td,
    body.woocommerce-checkout h2, body.woocommerce-checkout h3,
    .woocommerce .cart-actions .coupon label,
    .woocommerce .cart-collaterals h2 {
        text-align: center;
        width: 100%;
    }

    .woocommerce .cart-collaterals .cart_totals table tr th,
    .woocommerce-page .cart-collaterals .cart_totals th, 
    .woocommerce-page .cart-collaterals .cart_totals td {
        border:0 !important;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    }

    .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border:0 !important;
    }

    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }

    .woocommerce .col2-set .col-1, 
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, 
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first, 
    .woocommerce form .form-row-last, 
    .woocommerce-page form .form-row-first, 
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }

    .woocommerce .order_details ul, 
    .woocommerce-page .order_details ul,
    .woocommerce .order_details, 
    .woocommerce-page .order_details {
        padding:0;
    }

    .woocommerce .order_details li, 
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border:0;
    }

}

/* END Make the WooCommerce Cart Table Responsive  for Mobile */

/* Hide shop meta */
.woocommerce-result-count,
.woocommerce-ordering {
    display: none;
}


/* Version 1.2 */
.woocommerce .product .single_add_to_cart_button.button:hover,
.wc-proceed-to-checkout .checkout-button:hover {
    background: #fff;
    color: #000;
    border-bottom: 2px solid #000;
    outline: none;
}
.woocommerce .product .single_add_to_cart_button.button {
    border-bottom: 2px solid #000;
}

body .yith-wcwl-add-button > a i {
    margin-right: 0;
}

body.woocommerce .yith-wcwl-add-to-wishlist .ajax-loading {
    top: 5px;
    right: 5px;
    transform: none !important;
    transition: none !important;
}

/* Version 1.4 */

#reviews #comments .comment.bypostauthor {
    border: 0;
    border-bottom: 1px solid #d4d9de;
    padding: 5px;
}

#reviews #comments .comment.bypostauthor p.meta strong {
    font-weight: bold;
}

.woocommerce form.checkout #customer_details .woocommerce-billing-fields > h3 {
    margin-top: 0;
}

.wishlist_table .add_to_cart.button {
    white-space: nowrap;
}
.woocommerce .wishlist_table td.product-add-to-cart span.dateadded {
    font-style: italic;
    font-size: 12px;
}

/* WooCommerce Germanized */

body .fabio-widget_shopping_cart_content {
     font-size: 12px;
}

body .fabio-widget_shopping_cart_content .wc-gzd-total-mini-cart {
    margin-bottom: 30px;
    text-align: center;
}


body .product p.wc-gzd-additional-info {
    margin: 0;
}

body .product p.wc-gzd-additional-info:last-child {
    margin-bottom: 15px;
}


body .wc-gzd-checkbox-placeholder .checkbox input[type="checkbox"] {
	margin-left: 0;
}

body .wc-gzd-checkbox-placeholder .woocommerce-gzd-legal-checkbox-text {
	padding-left: 20px;
	display: inline-block;

	text-transform: none;
	font-family: 'Open Sans';
    color: #9c9c9c;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: normal;
}

body.woocommerce-checkout .shop_table {
	background: transparent;
}

