/*
Theme Name: Yellowpoly Theme 2017
Author: Yellowpoly
Author URI: http://www.yellowpoly.com/
Description: We make creative website with people engaged in promoting human values and knowledge.
Version: 1.0
License: All rights reserved

Text Domain: yellowpoly

*/


/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Genericons
 */
 
 @import url("css/mobile.css");
 @import url("css/laptop.css");

/** 
*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700');
*@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One'); 
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');



/**
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */

html {
	font-family: 'Raleway', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

a {
	color: black;
	opacity: 1;
	text-decoration: none;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
a:hover {
	opacity: 0.5;
}

ul {
	list-style: none;
	margin: 0;
}

/* swatch specific code */
.swatch-red{
	background-color:rgba(209, 16, 16,1) !important;
	color:rgba(183,144,90,.85) !important;
}
.swatch-white{
	background-color:rgba(255,255,255,1) !important;
	color:rgba(183,144,90,.85) !important;
}
.swatch-black{
	background-color:rgba(1,1,1,1) !important;
	color:rgba(183,144,90,.85) !important;
}
.swatch-lila{
	background-color:rgba(155,123,204,1) !important;
	color:rgba(183,144,90,.85) !important;
}
.swatch-pistachio {
	background-color:rgba(204,220,181,1) !important;
	color:rgba(183,144,90,.85) !important;
}

/**
 * 2.0 - Genericons
 */

.menu-item-has-children a:after,
.social-navigation a:before,
.dropdown-toggle:after,
.bypostauthor > article .fn:after,
.comment-reply-title small a:before,
.pagination .prev:before,
.pagination .next:before,
.pagination .nav-links:before,
.pagination .nav-links:after,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
/*  Septembre */

/* .woocommerce-tabs .reviews_tab,
.woocommerce-tabs .description_tab,
.woocommerce-tabs .additional_information_tab {
	display: none;
} */
.woocommerce-Tabs-panel iframe {
	max-width: 100%;
}
.woocommerce-variation-add-to-cart {
/* 	display: none;
	width: 0;
	opacity: 0;
	pointer-events: none; */
}

.woocommerce-products-header {
	text-align: center;
	padding: 48px 80px;
}
.woocommerce-products-header h2 {
	font-weight: 200;
}
.Bloc-580 a {
	position: relative;
	z-index: 2500;
	cursor: pointer;
}
.main-navigation .menu-item-141 img,
.main-navigation .menu-item-142 img {
	width: 20px;
	height: 20px;
}

/* hide related posts on about page */
#jp-relatedposts {
  display: none !important;
}
/* add margin for mobile */
.entry-title {
  margin-left: 1em;
}

/*align contact title on all devices */
.Bloc-580 h3 {
    margin-right: 1em !important;
}



/* woocommerce enhancements */

.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
	background-color: rgba(183,144,90,.95) !important;
	color: #FFFFFF;
}
.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {

background:rgba(183,144,90,.95) !important;

background-color:rgba(183,144,90,.95) !important;

color:white !important;

text-shadow: transparent !important;

box-shadow: none;

border-color:rgba(183,144,90,.95) !important;

}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {

background:rgba(183,144,90,.95) !important;

background-color:rgba(183,144,90,.95) !important;

color:white !important;

text-shadow: transparent !important;

box-shadow: none;

border-color:rgba(183,144,90,.95) !important;

}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {

background: rgba(183,144,90,.95) !important;

color:white !important;

text-shadow: transparent !important;

border-color: rgba(183,144,90,.95) !important;

}

.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {

background: rgba(183,144,90,.95) !important;

box-shadow: none;

text-shadow: transparent !important;

color:white !important;

border-color: rgba(183,144,90,.95) !important;

}

.woocommerce{
	margin-left: 1.5em !important;
	margin-right: 1.5em! important;
}
