.woocommerce .shop_table.cart tr.cart_item.component_container_table_item {
    margin-bottom:1px;
}

.woocommerce .shop_table.cart .product-name h2 .component-hold {
    font-size: 13px;
}

.component_table_item .component_table_item_indent {
    padding-left: 0;
}

.woocommerce .shop_table.cart tr.cart_item.component_table_item span.total-label {
    display: none;
}

.composite_price .price .total,
.woocommerce.single-product .product .summary .price .from {
    font-size: 18px;
    letter-spacing: 1px;
}

.woocommerce .component .composited_product_details_wrapper {
    padding-left: 0;
}