@charset "UTF-8";

@font-face {
  font-family: "craftit-arrows-font";
  src:url("fonts/craftit-arrows-font.eot");
  src:url("fonts/craftit-arrows-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/craftit-arrows-font.woff") format("woff"),
    url("fonts/craftit-arrows-font.ttf") format("truetype"),
    url("fonts/craftit-arrows-font.svg#craftit-arrows-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "craftit-arrows-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "craftit-arrows-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\61";
}
.icon-arrow-right:before {
  content: "\62";
}
