body {
    direction: rtl;
    unicode-bidi: embed;
    text-align: right;
}

th,
.top-bar .logo-wrapper,
.fw-heading-left,
.fw-heading-left .fw-special-title,
.fabio-gallery-info .dl-horizontal dt,
div.pagination ul.pagination,
.widget_price_filter .ui-slider,
.widget_price_filter .ui-slider .ui-slider-handle,
#secondary-menu .mega-menu .mega-menu-col ul ,
#secondary-menu .mega-menu .mega-menu-col ul li,
#secondary-menu .mega-menu .mega-menu-row ,
#secondary-menu .mega-menu .mega-menu-row .mega-menu-item,
#secondary-menu .mega-menu .mega-menu-col > a,
.fabio-modal-mailchimp .fabio-modal-wrapper .fabio-modal-content,
.align-left,
body.gg-page-header-align-left .page-meta,
.fabio-post1-header,
.products-carousel-title,
#reviews #respond h3#reply-title,
#review_form #respond p.comment-notes,
.products-carousel-nav.pcn-left, .leftAlign,
.woocommerce .product .summary .variations td.label,
.woocommerce-tabs .tabs,
.woocommerce-tabs .panel,
.woocommerce .shop_attributes td,
.fw-iconbox-2 .fw-iconbox-image {
    text-align: right;
}

img.alignleft,
.alignleft,
.navbar-secondary,
.fabio-post1-header.inline,
.products-carousel-title.inline,
.fabio-post1-header.inline + .fabio-post1-categories,
.products-carousel-title.inline + .fabio-categories,
.products-carousel-title.inline + .fabio-collection-categories,
.products-carousel-title.inline + .fabio-collection-categories,
.instagram .instagram-left,
.instagram .instagram-right,
.instagram-body .grid > div,
.footer-widgets,
body .fw-pricing,
.fabio-posts-widget ul li .img,
.fabio-gallery-single-header h1,
.fabio-gallery-info .dl-horizontal dt,
.fabio-order-header,
.fabio-order-header .woocommerce-order-right,
div.pagination ul.pagination,
.u-columns .col-1,
.u-columns  label.inline,
.u-columns .forgot-remember,
.u-columns .login-button,
.fabio-post1-header.inline + .fabio-post1-categories + .posts1_cnt,
.products-carousel-title.inline + .fabio-categories + .ajax_module_wrapper,
.products-carousel-title.inline + .fabio-collection-categories + .ajax_module_wrapper,
.top-bar .top-header > li,
.star-rating:before,
.star-rating span,
.woocommerce-product-rating .star-rating,
#reviews #comments .comment img.avatar,
.woocommerce .gg-wc-ordering-wrapper,
.woocommerce .woocommerce-result-count,
.woocommerce .products,
.woocommerce.single-product .product .summary,
.woocommerce.single-product .images,
.woocommerce.single-product .product .summary + .thumbnails a.zoom,
.woocommerce.single-product .images .woocommerce-main-image,
.woocommerce .product .summary p.cart,
.woocommerce.gg-widget .button.wc-forward,
.woocommerce .cart .quantity,
.woocommerce #content .single-product-wrapper .quantity,
.woocommerce .product .summary div[itemprop="offers"],
.woocommerce.single-product .product  .post-social ul li,
.woocommerce.single-product .product  .post-social ul li a,
.gg-widget.widget_shopping_cart li img,
.woocommerce dl.variation dt,
.woocommerce .form-row-first,
.woocommerce form.checkout #customer_details .wrapper,
.woocommerce-additional-fields,
.woocommerce-additional-fields__field-wrapper,
.woocommerce form.checkout .woocommerce-checkout-payment,
.woocommerce form.checkout #customer_details h3#ship-to-different-address,
.woocommerce-page .addresses .col-1,
.woocommerce-page .addresses .col-2,
.fabio-woo-my-account h1,
.fabio-woo-my-account .woocommerce-MyAccount-navigation,
.social-with-navigation ul li,
.woocommerce .cart-collaterals,
.woocommerce div.product div.images .flex-viewport,
.woocommerce div.product div.images .flex-control-thumbs,
.woocommerce div.product div.images .flex-control-thumbs li,
.gg-header-minicart ul li .fabio-minicart-thumbnail,
.one-collection .collection-first-img {
    float: right;
}

img.alignright,
.alignright,
.fabio-gallery-single-header .toRight,
.u-columns .col-2,
.woocommerce-form-login .form-row .fabio-woo-password-lost .woocommerce-LostPassword,
.woocommerce-form-login .form-row-button .woo-form-button,
.star-rating,
.woocommerce form.woocommerce-ordering,
.woocommerce .products-per-page,
.woocommerce .products-per-page form.woocommerce-products-per-page,
.woocommerce.gg-widget .button.wc-forward.checkout,
.gg-widget.widget_products ul li a img,
.gg-widget.widget_recent_reviews ul li a img,
.gg-widget.widget_recently_viewed_products ul li a img,
.gg-widget.widget_top_rated_products ul li a img,
.gg-widget.widget_product_categories ul.product-categories li .count,
.gg-widget.widget_layered_nav .count,
.woocommerce .form-row-last,
.wc_payment_methods img {
    float: left;
}

.top-bar .top-header > li.shop .wishlist {
    border-right: 0;
    border-left: 1px solid #d4d9de;
    padding-right: 0;
    padding-left: 15px;
}

.top-bar > ul > li > ul li {
    padding-left: 0;
    padding-right: 15px;
}

.comments-area .media-list .media .media-body {
    padding-left: 0;
    padding-right: 15px;
}

.post-social ul li:last-child {
    margin-right: 15px;
} 
.post-social ul li:first-child {
    margin-right: 0;
}

.product-body span.price {
    padding-right: 0px;
    padding-left: 12px;

    border-right: 0;
    border-left: 1px solid #e8e8e8;
}

.product-body > a > h3,
.product-body > a > h2 {
    padding-right: 12px;
    padding-left: 0px;
}

.one-collection h3 {
    left: auto;
    right: 0;
}

@media (min-width: 480px) {
    .one-collection .collection-first-img {
        padding-left:0;
        padding-right:5%;
    }
}

@media (min-width: 768px) {
    .one-collection .collection-first-img {
        padding-left:0;
        padding-right:10%;
    }
}

.one-collection .collection-second-img {
    padding-left: 0;
    padding-right: 30px;
}

@media (min-width: 480px) {
    .one-collection .collection-second-img {
        padding-left: 0;
        padding-right: 30px;
    }
}
@media (min-width: 768px) {
    .one-collection .collection-second-img {
        padding-left: 0;
        padding-right: 30px;
    }
}
@media (min-width: 992px) {
    .one-collection .collection-second-img {
        padding-left: 5%;
        padding-right: 30px;
    }
}

@media (min-width: 480px) {
    .collection-carousel-pagination {
        left: auto;
        right: 5%;
    }
}
@media (min-width: 768px) {
    .collection-carousel-pagination {
        left: auto;
        right: 10%;
    }
}
@media (min-width: 992px) {
    .collection-carousel-pagination {
        left: auto;
        right: 21.5%;
    }
}

.collection-carousel-wrapper .collection-carousel-pagInfo {
    right: auto;
    left: 0;
}

@media (min-width: 992px) {
    .collection-carousel-wrapper .collection-carousel-pagInfo {
        left: 8%;
    }
}

body .fw-action-btn a {
    margin-right: 0;
    margin-left: 20px;
}

.posts2 .gg_posts_grid .entry-title .blogpost-type {
    right: auto;
    left: 0;
}

@media (min-width: 992px) {
    .posts2 .gg_posts_grid .entry-title {
        padding-right: 0;
        padding-left: 75px;
    }
}

.fabio-new-items-wrapper .fabio-categories a:last-child:after,
.fabio-new-items-wrapper .fabio-collection-categories a:last-child:after {
    content: "X";
}

.fabio-new-items-wrapper .fabio-categories a:last-child,
.fabio-new-items-wrapper .fabio-collection-categories a:last-child {
    margin-right: 60px;
}

.fabio-new-items-wrapper .fabio-categories a:first-child:after,
.fabio-new-items-wrapper .fabio-collection-categories a:first-child:after {
    content: "";
}

.fabio-new-items-wrapper .fabio-categories a:first-child,
.fabio-new-items-wrapper .fabio-collection-categories a:first-child {
    margin-right: 0px;
}

.fabio-faq .faq-title {
    padding-right: 45px;
}

body.woocommerce-account .shop_table td {
    padding-right: 0;
    padding-left: 10px;
}

.product .summary .yith-wcwl-add-button {
    border-left: 0;
    border-right: 1px solid #e8e8e8;

    margin-right: 10px;
    padding-right: 10px;

    margin-left: 0px;
    padding-left: 0px;
}

@media (min-width: 992px) {
    .woocommerce.single-product .product .summary {
        padding: 30px 0 30px 60px;
    }
}

.woocommerce .shop_attributes th {
    padding-right: 0;
    padding-left: 60px;
}

.woocommerce .shop_attributes td {
    padding-left: 0;
    padding-right: 60px
}

.woocommerce .shop_attributes th:after {
    right: auto;
    left: -15px;
}

.woocommerce-tabs .tabs li {
    padding-right: 0;
    padding-left: 15px;
}

.social-with-navigation ul  li {
    padding-right: 0;
    padding-left: 17px;
}

.st-menu,
.st-pusher {
    right: auto;
    left: 0;
}
.st-effect-1.st-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#simpleModal .close-window {
    right: auto;
    left: 30px;
}

.gg-header-minicart ul li .white-modal-cnt .fabio-minicart-remove {
    right: auto;
    left: 15px;
}

@media (min-width: 480px) {
    .instagram .instagram-left {
        text-align: right;
    }
}
@media (min-width: 992px) {
    .footer-widgets .gg-widget.widget_nav_menu ul li,
    .footer-widgets .gg-widget.widget_pages ul li,
    .footer-widgets .gg-widget.widget_categories ul li,
    .footer-widgets .gg-widget.widget_archive ul li {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .footer-social-icons-widget {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .footer-logo-sm .logo {
        text-align: right;
    }
}

@media (min-width: 480px) {
    .one-collection h3 {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .fabio-modal-mailchimp .fabio-modal-wrapper .fabio-modal-content {
        text-align: right;
    }
}
@media (min-width: 992px) {
    .top-bar .top-header > li.menus {
        text-align: right;
    }
}
@media (min-width: 992px) {
    .navbar-secondary #secondary-menu .dropdown-menu li,
    .navbar-nav .dropdown-menu li,
    #main-menu .dropdown-menu li {
        text-align: right;
    }
}
@media (min-width: 992px) {
    .navbar-nav .dropdown-menu li a  {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .footer-menu {
        float: left;
    }
}

@media (min-width: 992px) {
    .fabio-post1-header.inline + .fabio-post1-categories,
    .products-carousel-title.inline + .fabio-categories,
    .products-carousel-title.inline + .fabio-collection-categories ,
    .products-carousel-title.inline + .fabio-collection-categories{
        float: left;
    }
}
@media (min-width: 480px) {
    .instagram .instagram-right {
        float: left;
    }
}

@media (min-width: 992px) {
    .fabio-order-header .woocommerce-order-right {
        float: left;
    }
}

@media (min-width: 768px) {
    .contact-form .fw_form_fw_form .wrap-forms .fw-row > div:last-child .field-text {
        padding: 0 5px 0 0;
    } 
}

@media (min-width: 768px) {
    .woocommerce .product .summary form.cart {
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .woocommerce-page table.cart td.actions .button.alt, 
    .woocommerce-page #content table.cart td.actions .button.alt,
    .woocommerce-page .cart-collaterals .cart_totals {
        float: right;
    }
    .woocommerce-page table.cart td.actions, 
    .woocommerce-page #content table.cart td.actions {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .fabio-woo-my-account .woocommerce-MyAccount-navigation {
        float: left;
    }
}

@media (min-width: 768px) {
    .woocommerce div.product div.images .flex-control-thumbs {
        float: left;
    }
} 